<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408060861791-ng9lfr750djj79nls5h3ddl0v3ut50bl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408060861791-ng9lfr750djj79nls5h3ddl0v3ut50bl</string>
	<key>API_KEY</key>
	<string>AIzaSyDUo8oZsDpOkxivWZIXYbIPuaWrDsF4zTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>408060861791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.asterisk.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-c26dc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-c26dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408060861791:ios:8016662f5e82658c26eaea</string>
</dict>
</plist>